*{
  /* background-color: rgb(18, 18, 19); */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
  background-color: #1c1c1c;
  /* background-image: url('../public/image/bg4.png'); */
  background-position: fixed;
  background-size: cover;
  color: rgb(255, 243, 194);
}

a {
  text-decoration: none;
}

.title {
  /* margin-left: 5%; */
  font-size: 5vh;
}

/* ============= Home ============= */

.home {
  display: flexbox;
  background-image: url('../public/image/bg1.jpg');
  background-attachment: fixed;
}

.namediv {
  margin: 5%;
  margin-top: -0.02vh;
}

#name {
  color: rgb(255, 243, 194);
  font-size: 6vh;
}

#fullname {
  margin-top: -5vh;
  font-size: 3vh;
  color: rgb(239, 229, 190);
}

.webdev {
  margin-left: 3%;
  font-size: 6vh;
  color: rgb(250, 248, 242);
  margin-top: -7vh;
  text-align: left;
}

#dev{
  margin-top: -16vh;
}

#dev2{
  margin-top: -13vh;
  color: #d3d3d3a1;
  /* margin-left: 12%; */
}


.linkinfo a {
  text-decoration: none;
}

.linkinfo {
  padding-left: 5%;
  padding-bottom: 1%;
}

.linkinfo img {
  width: 30px;
  height: 30px;
  padding-right: 2%;
}

/* ============= Nav ============= */

.navbar {
  background-color: #1c1c1c;
  /* padding: 10px; */
  /* justify-content: space-between; */
  align-items: center;
  height: 6.5vh;
  display: grid;
  align-items: center; 
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
  padding-top: 1%;
  /* width: 100vh; */
}

.navbar a{
  display: inline;
  /* box-sizing: border-box; */
  /* float: right; */
  margin: 3%;
  text-decoration: none;
  color: rgb(185, 180, 136);
  font-size:2vh;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s, font-size 0.5s;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
  font-size: 2.2vh;
}

/* ============= About ============= */

.about {
  padding-left: 2%;
  padding-right: auto;
  /* display: grid; */
  background-image: url('../public/image/bg.jpg');
  display: flexbox;
  padding-bottom: 2%;
}


.a-1 h2{
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

#me {
  width: 28vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}



.detail {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  /* flex-wrap: wrap; */
  align-content: center;
  align-items: center;
  /* flex-direction: row; */

}

.a-1 {
  width: 85%;
  font-size: 1.5vh;
  /* background-color: #cccaa4; */
  padding: 0.5%;
}

.textbox {
  margin-top: 3vh;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #84781800;
  outline: 1px solid #584a064b;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#5050506c 25%,#d0cabf 0);
}



/* ============= Contact ============= */

.contact{
  padding-top: 25vh;
  padding-left: 5%;
  display: flexbox;
  background-image: url('../public/image/bg.jpg');
  padding-bottom: 3%;

}

.contact h1{
  font-size: 7vh;
}

.contact a {
  color: #fcfcfcd0;;
}

.linkcontact img {
    width: 35px;
    height: 35px;
    margin-right: 2%;
}

#chr {
  color: #d3d3d3a1;
  margin-top: -5vh;
  font-size: 5vh;
}



/* ============= Projects ============= */

.project {
  display: flexbox;
  background-image: url('../public/image/pbg.jpg');
  padding-bottom: 2%;
  /* background-size: cover; */

}

.project h1 {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 6vh;
}

.project-detail {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 140vh;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
  /* border: #8a864261 1.8px solid; */
  border-radius: 5px;
  margin-bottom: 2vh;
  transition: 0.5s;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #84781800;
  outline: 1px solid #584a064b;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#d3d2bca7 25%,#4d361148 0);
  

}

.project-detail:hover {
  background: conic-gradient(from 90deg at 1px 1px,#eeedd6a5 25%,#4d3e1135 0);
  font-size: larger;
}

.p-1 {
  width: 40%;
  padding: 1vh 3vh;
  text-align: left;
  color: #1c1c1c;
}

.p-1 h2, h3 {
  text-align: left;
  
}

.p-1 h4 {
  margin-top: 3vh;
  color: #535353dd;
}

.p-2 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.p-1 a {
  margin-right: 2vh;
  color: #4b4923;
}

.linktogh {
  width: 25px;
  height: 25px;
  margin-right: 2%;
}
/* 
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
} */

.scapture{
  width: 250px;
  padding: 2vh;
  margin-left: 5vh;
  
}

/* ============= Resume ============= */

.resume {
  display: flexbox;
  padding-top: 1%;
  background-image: url('../public/image/pbg.jpg');
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  /* display: flex; */
  color: #f4f4f4;
}

.resume img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: center;
  height: 100vh;
  /* display: flex; */
}

.resume a {
  color: #f4f4f4;
}